ul {
    list-style-type: none;
    margin: o;
    padding: 0;
}

li {
    color: white;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

p, h1, h2, h3, h4 {
   margin: 0;
}

.container {
    width: 1128px;
    padding-left: 156px;
    padding-right: 156px;
    margin: 0 auto;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #434455;
    background-color: #FFF;
}

.logo-part-one {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-part-two {
    font-family: "Raleway", sans-serif;
    color: #2E2F42;
}

.logo-part-three {
    font-family: "Raleway", sans-serif;
    color: #F4F4FD;
}

.header {
    background-color: #FFFFFF;
}

.header-list {
    list-style: none;
}

.header-item-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-item-link:focus,
.header-item-link:hover {
    color:#404bbf;
}

.address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-style: normal;
}

.address-item-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

.address-item-link:focus, 
.address-item-link:hover {
    color: #404bbf;
}

.hero-section {
    background-color: #2E2F42;
}

.hero-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.hero-section-cta {
    all: unset;
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-section-cta:focus,
.hero-section-cta:hover {
    background-color: #404bbf;
    color: #f0f0f0;
}

.second-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.features-title {
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-team {
    background-color: #F4F4FD;
}

.team-item {
    background-color: #FFFFFF;
}

.team-title {
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.our-portfolio {
    background-color: #FFFFFF;
}

.portfolio-title {
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2e2f42;
}